<% content_for :title, "Editing observation" %>

<h1>Editing observation</h1>

<%= render "form", observation: @observation %>

<br>

<div>
  <%= link_to "Show this observation", @observation %> |
  <%= link_to "Back to observations", observations_path %>
</div>
